<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>DSL的基础类</string>
	<key>Summary</key>
	<string>DSL iOS MVVM框架的基础类</string>
	<key>SortOrder</key>
	<string>0</string>
	<key>DefaultCompletionName</key>
	<string>MyClass</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Class:</string>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>cocoaTouchSubclass</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>Type</key>
			<string>class</string>
			<key>Default</key>
			<string>NSObject</string>
			<key>FallbackHeader</key>
			<string>#import &lt;QMUIKit/QMUIKit.h&gt;</string>
			<key>Values</key>
			<array>
				<string>DSLViewController</string>
				<string>DSLTableViewController</string>
				<string>DSLViewModel</string>
				<string>DSLTableViewModel</string>
			</array>
			<key>Suffixes</key>
			<dict>
				<key>DSLViewController</key>
				<string>DSLViewController</string>
				<key>DSLTableViewController</key>
				<string>DSLTableViewController</string>
				<key>DSLViewModel</key>
				<string>DSLViewModel</string>
				<key>DSLTableViewModel</key>
				<string>DSLTableViewModel</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
